--- arch/arm/dts/rk3399-pinebook-pro-u-boot.dtsi.orig	2020-10-05 15:15:32 UTC
+++ arch/arm/dts/rk3399-pinebook-pro-u-boot.dtsi
@@ -20,6 +20,10 @@
 	};
 };
 
+&edp {
+	rockchip,panel = <&edp_panel>;
+};
+
 &i2c0 {
 	u-boot,dm-pre-reloc;
 };
