--- arch/arm/dts/rk3399.dtsi.orig	2021-02-02 00:41:57 UTC
+++ arch/arm/dts/rk3399.dtsi
@@ -1604,13 +1604,13 @@
 			#address-cells = <1>;
 			#size-cells = <0>;
 
-			vopl_out_mipi: endpoint@0 {
-				reg = <0>;
+			vopl_out_mipi: endpoint@1 {
+				reg = <1>;
 				remote-endpoint = <&mipi_in_vopl>;
 			};
 
-			vopl_out_edp: endpoint@1 {
-				reg = <1>;
+			vopl_out_edp: endpoint@0 {
+				reg = <0>;
 				remote-endpoint = <&edp_in_vopl>;
 			};
 
