--- arch/arm/dts/rk3399-pinebook-pro.dts.orig	2020-10-05 15:15:32 UTC
+++ arch/arm/dts/rk3399-pinebook-pro.dts
@@ -290,7 +290,7 @@
 		pinctrl-names = "default";
 		pinctrl-0 = <&lcdvcc_en_gpio>;
 		regulator-name = "vcc3v3_panel";
-		regulator-always-on;
+		/*regulator-always-on;*/
 		regulator-min-microvolt = <3300000>;
 		regulator-max-microvolt = <3300000>;
 		regulator-enable-ramp-delay = <100000>;
@@ -370,6 +370,31 @@
 		pinctrl-names = "default";
 		pinctrl-0 = <&dc_det_gpio>;
 	};
+};
+
+&cru { 
+	 assigned-clocks =
+		<&cru PLL_GPLL>, <&cru PLL_CPLL>,
+		<&cru PLL_NPLL>,
+		<&cru ACLK_PERIHP>, <&cru HCLK_PERIHP>,
+		<&cru PCLK_PERIHP>,
+		<&cru ACLK_PERILP0>, <&cru HCLK_PERILP0>,
+		<&cru PCLK_PERILP0>, <&cru ACLK_CCI>,
+		<&cru HCLK_PERILP1>, <&cru PCLK_PERILP1>,
+		<&cru ACLK_VIO>, <&cru ACLK_HDCP>,
+		<&cru ACLK_GIC_PRE>,
+		<&cru PCLK_DDR>,<&cru ACLK_VOP1>;
+	assigned-clock-rates=
+		 <594000000>,  <800000000>,
+		<1000000000>,
+		 <150000000>,   <75000000>,
+	 	 <37500000>,
+	 	<100000000>,  <100000000>,
+	 	 <50000000>, <600000000>,
+	 	<100000000>,   <50000000>,
+	 	<400000000>, <400000000>,
+	 	<200000000>,
+	 	<200000000>, <594000000>;
 };
 
 &cdn_dp {
